body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("stay.jpg");
	background-size: cover;
	background-position: center;
}

nav{
    position: absolute;
    top: 40px;
    right: 50px;
}

nav a{
    color: white;
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
	border: 2px solid #f0eded;
	margin-right: 100px;
	margin-top: 50px;
}

nav a:hover{
    background: white;
	color: black;
	border-radius: 4px;
}

.search-container{
    width: 85%;
    max-width: 1000px;
    margin: 150px auto;
    background: rgb(174, 183, 132, .3);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
	margin-top: 1rem;
}

.title{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
	margin-top: 150px;
	font-family: sogoe print;
	letter-spacing: 6px;
	word-spacing: 10px;
	text-transform: capitalize;
	text-shadow: 5px 3px gray	;
}

.title p{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
	margin-top: 5px;
	font-family: sogoe print;
	letter-spacing: 6px;
	word-spacing: 10px;
	text-transform: capitalize;
	text-shadow: 5px 3px gray	;
}

.form-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input-group{
    flex: 1;
    display: flex;
    flex-direction: column;
	font-family: sogoe print;
}

label{
    font-size: 14px;
    margin-bottom: 8px;
    color: #000000;
}

input, select{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button{
    margin-top: 25px;
    padding: 15px;
    background:  rgb(174, 183, 132);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 220px;
    transition: 0.3s;
}

button:hover{
    background: rgb(174, 183, 132, .8);
	color: black;
}

.button-container{
    text-align: left;
}